# Visual Studio
.vs/
*.user
*.suo
*.aps
*.pch
*.vspscc
*.vssscc

# 문서
*.pdf


# 빌드 결과물
x64/
x86/
Debug/
Release/
ipch/
*.exe
*.obj
*.ilk
*.pdb
*.lib
*.exp
build/

# 자동 다운로드 라이브러리
include/
googletest/
gtest_dl.zip

# 런타임 데이터
db/*.json
